.suggestedWordsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.suggestedWordsContainer h2 {
  font-size: 1.2em;
  margin: 4px 0px 8px;
}

ul.suggestedWordsList {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.suggestedWord {
  text-transform: uppercase;
}
